#title{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: #000000;
	font-size: 100px;
}

#menu{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: #000000;
	font-size: 50px;
}

#temas{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: #000000;
	font-size: 20px;
}
#texto{
	font-family: 'Mitr', sans-serif;
	text-align: left-side;
	color: #000000;
	font-size: 20px;
}

